<div id="questions">
	<div class="question">
		<div class="heading">
			Question
		</div>
		<div class="answer">
			<a href="javascript:void();" class="btn answer">Answer</a>
			<a href="javascript:void();" class="btn answer">Answer</a>
			<a href="javascript:void();" class="btn answer">Answer</a>
		</div>
	</div>
	<div class="question">
		<div class="heading">
			Question
		</div>
		<div class="answer">
			<a href="javascript:void();" class="btn answer">Answer</a>
			<a href="javascript:void();" class="btn answer">Answer</a>
			<a href="javascript:void();" class="btn answer">Answer</a>
		</div>
	</div>
	<div class="question">
		<div class="heading">
			Question
		</div>
		<div class="answer">
			<a href="javascript:void();" class="btn answer">Answer</a>
			<a href="javascript:void();" class="btn answer">Answer</a>
			<a href="javascript:void();" class="btn answer">Answer</a>
		</div>
	</div>
</div>